.slick-prev,
.slick-next {
  border: 1px solid var(--light);
  background: none;
  color: white;
  border-radius: 50%;
  padding: 1px 10px;
}

.slick-prev {
  position: absolute;
  left: 0;
  z-index: 1;
  top: 47%;
  transform: translateY(-50%);
}

.slick-next {
  position: absolute;
  right: 0;
  z-index: 1;
  top: 47%;
  transform: translateY(-50%);
}

.thanh {
  position: absolute;
  left: 700px;
}
.thanh .ngang {
  width: 80px;
  height: 7px;
  background-color: #dddddd;
}
.thanh #ngang1 {
  position: relative;
  left: 70px;
  top: 1px;
}
.thanh #ngang2 {
  position: relative;
  bottom: 42px;
  right: 83px;
}
.thanh .clock {
  position: relative;
  top: -20px;
  left: 20px;
  font-size: 24px;
  color: white;
}

.header-contact {
  font-size: 15px;
  background-color: black;
  color: white;
}
.header-contact .left {
  padding-top: 20px;
}
.header-contact .left .header-icon {
  position: relative;
  left: 25px;
}
.header-contact .left .header-icon a {
  text-decoration: none;
  color: white;
}
.header-contact .left .header-add a {
  text-decoration: none;
  color: white;
}
.header-contact .left .header-add #iconhouse {
  color: #dd3333;
}
.header-contact .right {
  padding-top: 20px;
}
.header-contact .right #iconphone {
  color: #dd3333;
}
.header-contact .right .button {
  transition-duration: 0.4s;
  width: 70px;
  height: 30px;
  background-color: #555555;
  border: #555555 1px solid;
  color: white;
  border-radius: 5px;
}
.header-contact .right .button:hover {
  background-color: #1a4214;
}
.header-menu {
  background-color: #bebaba;
}
.header-menu .navbar {
  position: relative;
  top: 10px;
}
.header-menu #logo {
  width: 280px;
  height: 70px;
  position: relative;
  right: 90px;
}
.header-menu #search {
  border-radius: 5%;
}
.header-menu .searchbtn {
  position: relative;
  top: 15px;
}
.header-menu .searchbtn .btn {
  background-color: #dd3333;
  position: relative;
  right: 5px;
}
.header-menu #searchResult {
  padding-left: 10px;
}
.header-menu #searchResult > .row {
  padding: 5px 0px 10px 0px;
}
.header-menu .rowName > a {
  color: #000000;
  text-decoration: none;
}
.header-menu .imgSearch {
  margin-left: 5px;
  width: 30px;
}
.header-menu .rowPrice {
  color: #7e0b0b;
  margin-left: 0px;
}
.header-menu .cartbtn {
  font-weight: 600;
  font-size: medium;
  position: relative;
  right: 10px;
}
.header-menu .cartbtn .cart {
  text-decoration: none;
  color: white;
  font-size: large;
  position: relative;
  top: 10px;
}
.header-menu .nav-link {
  color: white;
  font-weight: bold;
}
.header-slide .btnslide {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.body {
  background: linear-gradient(rgba(0, 0, 0, 0.697) 100%, rgba(0, 0, 0, 0.5) 100%), url("./img/black_background_metal.jpg");
}
.body .content {
  padding-top: 150px;
}
.body .content .imgitem {
  width: 60px;
  height: 60px;
  position: relative;
  right: 10px;
  bottom: 20px;
}
.body .content h3 {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}
.body .productlist .tc-title {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.body .productlist .filtering {
  position: relative;
  width: 100%;
  color: white;
  text-align: center;
}
.body .productlist .filtering .wap-ss-img {
  text-align: center;
}
.body .productlist .filtering .wap-ss-img img {
  height: 250px;
  margin: 0 auto;
}
.body .productlist .filtering .textleft {
  text-align: center;
}
.body .productlist .filtering .item {
  position: relative;
}
.body .productlist .filtering .item .sale {
  position: absolute;
  top: 0;
  left: 10px;
  background-color: #dd3333;
  width: 45px;
  height: 40px;
  color: white;
  font-weight: 600;
}
.body .productlist .filtering .item a {
  color: #fdff8f;
  text-decoration: none;
  margin-top: 20px;
}
.body .productlist .filtering .item .price {
  margin: 10px;
  margin-left: 60px;
}
.body .productlist .filtering .item .price .price-pre {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 10px;
}
.body .productlist .filtering .item .btn {
  border: 1px solid #52507e;
  padding: 4px 14px;
  background-color: #000;
  color: #f17502;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.body .productlist .feedback .blog-area {
  padding: 100px;
}
.body .productlist .feedback .blog-area .row {
  color: white;
}
.body .productlist .feedback .blog-area .col-7 p {
  padding-left: 20px;
}
.body .productlist .feedback .blog-area hr {
  width: 370px;
}
.body .productlist .feedback .blog-area .imgfeedback {
  background-color: rgba(47, 170, 213, 0.1098039216);
  width: 90%;
  height: 360px;
}
.body .productlist .feedback .blog-area .fa-heart {
  color: red;
}
.body .productlist .feedback .blog-area .fa-comment {
  color: #00bcd4;
}

.body-cart .container-fluid {
  padding: 0px 60px 0px 60px;
}
.body-cart .btnquantity {
  border-radius: 15px;
  background-color: rgba(58, 107, 250, 0.2784313725);
  color: black;
  width: 30px;
  height: 30px;
}
.body-cart table {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  width: 100%;
  margin: auto;
  margin-bottom: 7%;
}
.body-cart table .tr1 {
  border-bottom: 2px solid #dd3333;
  text-transform: uppercase;
  font-weight: 700;
}
.body-cart table .divimg {
  margin: 0 auto;
  width: 40%;
}
.body-cart table .divimg img {
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}
.body-cart table p {
  margin: 0 auto;
}
.body-cart table .inpquantity {
  width: 100%;
  text-align: center;
}
.body-cart table .fa-circle-xmark {
  font-size: 140%;
}
.body-cart table .trbtn {
  position: relative;
  top: 20px;
}
.body-cart table .trbtn button {
  border-radius: 5px;
  background-color: #dd3333;
  color: white;
  width: 250px;
  height: 40px;
  border: transparent;
  text-transform: uppercase;
}
.body-cart .buttonBack {
  background-color: #f7b100;
  color: black;
  width: 250px;
  height: 40px;
  border: transparent;
  text-transform: uppercase;
  border-radius: 1px;
}
.body-cart .buttonBack #iconback {
  width: 10px;
  padding-right: 10px;
}
.body-cart .buttonBuy {
  border-radius: 1px;
  background-color: #3e7420;
  color: white;
  width: 250px;
  height: 40px;
  border: transparent;
  text-transform: uppercase;
}
.body-cart .buttonDelete {
  border-radius: 1px;
  background-color: #dd3333;
  color: white;
  width: 250px;
  height: 40px;
  border: transparent;
  text-transform: uppercase;
}
.body-cart #mesag-cart {
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: black;
}
.body-cart #back-to-shop {
  display: flex;
  justify-content: center;
  text-decoration: none;
  padding: 0px 1px 10px 0px;
}
.body-cart #imgcart {
  display: flex;
  height: 300px;
  width: 350px;
  margin: 0 auto;
}

.footer {
  background: linear-gradient(rgba(0, 0, 0, 0.697) 100%, rgba(0, 0, 0, 0.5) 100%), url("./img/footer-background.jpg");
  color: white;
  padding: 15px;
}
.footer .logo {
  width: 250px;
  height: 80px;
}
.footer .iconfaw {
  text-decoration: none;
  color: white;
  padding: 10px;
  font-size: xx-large;
}
.footer input {
  width: 300px;
  height: 30px;
}
.footer #plane {
  color: #dd3333;
  position: relative;
  right: 30px;
}
.footer tr td {
  padding: 10px;
}
.footer #back-top {
  width: 30px;
  height: 30px;
  color: white;
}
.footer .fa-phone {
  color: #dd3333;
}
.footer .fa-location-dot {
  color: #90f1fb;
}

.bodyshop nav {
  max-width: 280px;
}
.bodyshop nav .list-group-flush .active {
  background-color: black;
  color: white;
  text-transform: uppercase;
}
.bodyshop nav .title {
  font-weight: 700;
  border: 1px #555555 solid;
}
.bodyshop span {
  text-transform: uppercase;
}
.bodyshop .product-shop {
  margin: auto;
  text-align: center;
}
.bodyshop .product-shop .item {
  width: 1170px;
  margin: 0 auto;
  flex-wrap: wrap;
}
.bodyshop .product-shop .item .prd {
  width: 25%;
  height: 400px;
}
.bodyshop .product-shop .item img {
  width: 180px;
  height: 255px;
}
.bodyshop .product-shop .item .name {
  margin: 0 auto;
  font-weight: 700;
  height: 50px;
  width: 100%;
}
.bodyshop .product-shop .item a {
  text-decoration: none;
  color: black;
}
.bodyshop .product-shop .item .sale {
  background-color: #dd3333;
  width: 45px;
  height: 40px;
  color: white;
  font-weight: 600;
}
.bodyshop .product-shop .item .price {
  padding: 0px 35px 0px 35px;
  justify-content: space-between;
}
.bodyshop .product-shop .item .price .price-pre {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 10px;
}
.bodyshop .product-shop .item .btn {
  border: 1px solid #52507e;
  padding: 4px 14px;
  color: #f17502;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}

.pagination {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.modal-2 a {
  text-align: center;
  margin-left: 3px;
  padding: 0;
  width: 35px;
  height: 35px;
  line-height: 30px;
  text-decoration: none;
  color: black;
  background: rgb(241, 238, 238);
}
.modal-2 a:hover {
  color: white;
  background-color: #dd3333;
}

.bodydetail {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bodydetail .slide {
  width: 100%;
}
.bodydetail .imgdetail {
  width: 150px;
  height: 150px;
}
.bodydetail .price .price-pre {
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  margin-right: 10px;
}
.bodydetail .quantity .inputq {
  width: 30px;
  text-align: center;
}
.bodydetail .buttonc {
  border-radius: 0%;
  background-color: #dd3333;
  color: white;
  border: transparent;
  height: 40px;
  width: 200px;
  position: relative;
  left: 40px;
  bottom: 5px;
}
.bodydetail .imgpay {
  width: 150px;
  height: 50px;
}

.modal-content {
  background-color: #d5d5d5;
  box-shadow: 0 0 2px #000;
  padding: 20px;
  box-sizing: border-box;
}
.modal-content .modal-header h5 {
  text-align: center;
  color: #000;
  font-size: 30px;
}
.modal-content .modal-header .btn-close-login {
  left: 82%;
  justify-content: end;
  position: relative;
  bottom: 40px;
}
.modal-content .modal-header .btn-close-signup {
  left: 355%;
  justify-content: end;
  position: relative;
  bottom: 40px;
}
.modal-content .modal-header .btn-close-forget {
  left: 30%;
  justify-content: end;
  position: relative;
  bottom: 40px;
}
.modal-content .modal-body label {
  padding: 3px 0;
  display: block;
  font-weight: bold;
}
.modal-content .modal-body input {
  border: none;
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  box-sizing: border-box;
}
.modal-content .modal-body .changePasword {
  position: relative;
  left: 45%;
  bottom: 40px;
}
.modal-content .modal-body .changePasword_Singup {
  position: relative;
  left: 95%;
  bottom: 40px;
}
.modal-content .modal-body .forgetPass {
  display: flex;
  justify-content: end;
  text-align: right;
}
.modal-content .modal-body .forgetPass a {
  text-decoration: none;
}
.modal-content .modal-body .error {
  box-shadow: 0px 3px rgba(27, 207, 72, 0.2509803922);
  border: 2px solid red;
}
.modal-content .modal-footer button {
  width: 100%;
  border: none;
  background: #333;
  color: #fff;
  padding: 11px;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20px;
}

.body-contact {
  padding: 100px;
}
.body-contact h3 {
  text-align: center;
  font-weight: bold;
}
.body-contact tr td {
  padding: 10px;
}
.body-contact input {
  width: 300px;
  height: 40px;
}
.body-contact button {
  background-color: #dd3333;
  color: white;
  width: 250px;
  height: 40px;
  border: transparent;
  text-transform: uppercase;
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */